.header .logo {
    text-align: center;
    background-color: aqua;
}

.logo img {
    width: 200px;
    height: 200px;
}

.menu-content {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 20px;
    background-color: gray;
    justify-content: center;
    color: white;
}

.body-content {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    padding: 50px;
    justify-content: center;
}

.body-content-item-img img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: white;
    text-align: center;
}

div.body-content-item {
    border: 1px solid grey;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.body-content-item-name,
.body-content-item-price {
    text-align: center;
}

div.body-content-item-input {
    text-align: center;
}

button.btn-buy {
    width: 50px;
    height: 30px;
    color: white;
    border-radius: 3px;
    background-color: rgb(98, 155, 247);
    border: none;
    margin: 3px;
}

button.btn-details {
    width: 50px;
    height: 30px;
    border-radius: 3px;
    border: none;
    margin: 3px;
}

button.btn-buy:hover {
    background-color: rgb(74, 66, 239);
}

button.btn-details:hover {
    background-color: rgb(120, 119, 126);
}

.footer {
    height: 100px;
    background-color: blue;
    text-align: center;
    color: white;
}